.navbar-brand {
    margin-left: 0!important;
}

.navbar {
    background: rgba(255, 251, 239, 0);
    /* border-bottom: 1px solid rgba(68, 68, 68); */
}

a.nav-item.active {
    color: rgb(0, 0, 0);
}

a.nav-link:not(.active) {
    color: rgba(0, 0, 0, 0.247);
}

.navbar-nav, h2 {
    font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

.navGradient {
    background-image: linear-gradient(
        rgba(255, 251, 239, .95),
        rgba(255, 251, 239, 0.748),
        rgba(255, 251, 239, 0.541),
        rgba(255, 251, 239, 0.382),
        rgba(255, 251, 239, 0.278),
        rgba(255, 251, 239, 0.194),
        rgba(255, 251, 239, 0.126),
        rgba(255, 251, 239, 0.075),
        rgba(255, 251, 239, 0.042),
        rgba(255, 251, 239, 0.021),
        rgba(255, 251, 239, 0.008),
        rgba(255, 251, 239, 0.002),
        rgba(255, 251, 239, 0)
    )
}

/* rgb(255, 251, 239),
    rgba(255, 251, 239, 0.738),
    rgba(255, 251, 239, 0.541),
    rgba(255, 251, 239, 0.382),
    rgba(255, 251, 239, 0.278),
    rgba(255, 251, 239, 0.194),
    rgba(255, 251, 239, 0.126),
    rgba(255, 251, 239, 0.075),
    rgba(255, 251, 239, 0.042),
    rgba(255, 251, 239, 0.021),
    rgba(255, 251, 239, 0.008),
    rgba(255, 251, 239, 0.002),
    rgba(255, 251, 239, 0) */