#carouselWrapper {
    color: black;
    /* text-shadow: 0 0 5px #ffffff; */
    height: 100vh;
}

.prevButton, .nextButton {
    position: absolute;
    height: 210px;
    width: 8%;
    top: 35vh;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
    font-size: 3em;
    opacity: 0;
}

.prevButton:hover, .nextButton:hover {
    opacity: 1;
    cursor: pointer;
}

.arrow {
    opacity: 0.4;
}
  
.normalChange-appear.normalChange-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.normalChange-appear, .normalChange-enter, .fastChange-enter {
    opacity: 0.01;
}

.normalChange-enter.normalChange-enter-active {
    opacity: 1;
    transition: opacity 2000ms ease-in;
}

.normalChange-leave, .fastChange-leave {
    opacity: 1;
}

.normalChange-leave.normalChange-leave-active {
    opacity: 0.01;
    transition: opacity 2000ms ease-in;
}

.fastChange-enter.fastChange-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fastChange-leave.fastChange-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}